{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Index</h1>
  <hr>
  <img src="{% static 'board/dohun.png' %}" alt="dohun-img">
  <hr>
  
  {% if request.user.is_authenticated %}
    <a href="{% url 'board:create' %}">[Create]</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">로그인하자</a>
  {% endif %}
  <hr>
  
  <ul>
    {% for question in questions %}
      <li>
        <a href="{% url 'board:detail' question.pk %}">{{ question.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
